body {
	font-family: 'Raleway', sans-serif;
}

section {
	padding: 100px 0;
}
.no-gutter{
	padding: 0;
}
.btn-blue{
	width: 165px;
	height: 75px;
	border-radius: 12px;
}
.regular-text{
	color: #fff;
}
.regular-grey-text{
	color: #808080;
}

.section-title {
	font-weight: 100;
	font-size: 38px;
	letter-spacing: 4px;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -ms-center;
	width: 100%;
	color: #fff;
	padding-bottom: 40px;
}
.section-title-grey{
	color: #808080;
}
.section-subtitle{
	text-align: left;
	padding-top: 0;
}
.container-fluid.gral-wrapper {
	background: url(../img/fondo-countdown.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 0;
}
/*COUNTDOWN*/
.date-month{
	color: #5eb5b8;
}
.date-text{
	color: #fff;
}
/*COUTDOWN*/
#countdown .countdown-items-wrapper {
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -ms-center;
	width: 100%;
}
#countdown .countdown-items-wrapper .countdown-item {
	background: url("../img/square-countdown.png") no-repeat;
	color: #fff;
	display: inline-block;
	height: 190px;
	width: 190px;
	margin: 0 20px;
}
#countdown .countdown-items-wrapper .countdown-item .value {
	font-size: 100px;
	font-weight: 100;
}
#countdown .countdown-items-wrapper .countdown-item .name {
	color: #98edff;
	font-weight: 600;
}
#countdown .countdown-items-wrapper .countdown-item p {
	margin: 0;
}
/*SUBSCRIBE*/
#subscribe{
	background: url("../img/fondo-subscribe.jpg") ;
	background-size: cover;
}
/*INVEST AND JOIN US*/
#investjoin{
	background: url("../img/fondo-joininvest.jpg") ;
	background-size: cover;
}
/*ABOUT*/
#about{
	background: url("../img/fondo-about.jpg") ;
}
#about .video-container{
	background: url(../img/square-video.png);
	background-size: cover;
	width: 667px;
	height: 385px;
	margin: 0 auto;
}
#about iframe{
    top: 101px;
    position: absolute;
    left: 248px;
}
/*ROADMAP*/
#roadmap{
	background: url("../img/fondo-roadmap.jpg") ;
}
/*SMART*/
#smart{
	background: #181818;
}
.black-button{
	border: 2px solid #fff;
	border-radius: 2px;
	background: #808080;
}
/*TECHNOLOGY*/
#technology{
	background: #000;
}
#technology img{
	width: 100px;
	padding-left: 20px;
}
/*DOCUMENTATION*/
#documentation button{
	margin-top: 25px;
}
#documentation a{
	text-decoration: underline;
}
#documentation .legal-text{
	margin-top: 35px;
}
/*TERMS TOKEN AND DATES*/
#graphsterms{
	background: url("../img/fondo-graph.jpg") ;
	background-size: 100% 100%;
}
.logo-centered{
	position: absolute;
	z-index: 99;
	top: 46%;
	left: 35%;
}
.sub-title-green{
	color: #30c99d;
}
.list-green{

}
.sub-title-yellow{
	color: #e7f920;
}
.list-yellow {

}


/*KEY DATES*/
#dates{
	background: url("../img/fondo-dates.jpg") ;
	background-size: 100% 100%;
}
.date-number{
	color: #fff;
	font-size: 60px;
}
.date-number span{
	color: #5eb5b8;
	margin-top: -9px;
	position: absolute;
	top: -7px;
	padding-left: 55px;
}
/*CONFERENCE*/
.video-container{
	background: url(../img/square-video.png);
	background-size: cover;
	width: 773px;
	height: 454px;
}
.video-container iframe{
	top: 17px;
	position: absolute;
	left: 32px;
}
.big-blue-text{
	color: #5eb5b8;
	font-size: 40px;
}
/*TEAM*/
#team{
	background: url("../img/fondo-team.jpg") ;
	background-size: 100% 100%;;
}
.team-member-name{
	color: #fff;
	line-height: 2px;
	font-size: 20px; 
	margin-top: 15px;
}
.team-member-rol{
	color: #5eb5b8;
}
/*NEWS*/
#news{
	background: url("../img/fondo-news.jpg") ;
	background-size: 100% 100%;;
}
/*RECEIVE*/
#recieve{
	background: #000;
}

/*NAVBAR*/
.nav-item a {
	color: #fff;
	font-weight: 100;
}

.navbar-brand span {
	color: #d7d7d7;
	font-weight: 600;
	letter-spacing: 4px;
	font-size: 25px;
}

.navbar-brand span .t {
	font-size: 30px; 	
}

/*SUBSCRIBE*/
input[type="text"]{
	width: 345px;
	height: 65px;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	text-align: center;
	color: #808080;
	margin-bottom: 20px;
}

.sub-title {
	color: #4784bf;
	font-size: 18px;
	font-weight: 600;
}

