section {
	padding: 100px 0;
}

.section-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 38px;
	letter-spacing: 4px;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -ms-center;
	width: 100%;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}
.section-title-grey{
	color: #808080;
}
.container-fluid.gral-wrapper {
	background: url(../img/fondo-countdown.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
/*COUNTDOWN*/
.date-month{
	color: #5eb5b8;
}
.date-text{
	color: #fff;
}
/*COUTDOWN*/
#countdown .countdown-item {
	background: url("../img/square-countdown.png");
}

/*INVEST*/
#invest{
	background: url("../img/fondo-2.jpg") ;
	background-size: cover;;
}
/*TEAM*/
#team{
	background: url("../img/fondo-team.jpg") ;
	background-size: 100% 100%;;
}
.team-member-name{
	color: #fff;
	line-height: 2px;
	font-size: 20px; 
	margin-top: 15px;
}
.team-member-rol{
	color: #5eb5b8;
}
/*NEWS*/
#news{
	background: url("../img/fondo-news.jpg") ;
	background-size: 100% 100%;;
}
/*RECEIVE*/
#recieve{
	background: #000;
}