section {
	padding: 100px 0;
}

.section-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 38px;
  letter-spacing: 4px;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -ms-center;
	width: 100%;
}
